.entreVideo
{
	display: flex;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: flex-start;
		
}

.entreCorp
{
	padding-left: 7%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	height: 90%;
}

.entreViewAudio
{

	border: 0.9vh solid black;
	max-width: 60%;
	height: 90%;
	padding-left: auto;
	
}
.entreVideoStack
{
	height: 100%;
	width: 100%;
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	justify-content: flex-start;

}

.playerBase
{
	
	margin-left: 1%;
	border: 0.9vh solid black;
	height: 90%;
	width: 35%;

}
.playerList
{
	width: 100%;
	height: 2.6%;
}
.playerPListA
{
	border-bottom: 1.3vh solid black;
	border-right: 0.3vw solid black;
	width: 69.5%;
}
.playerPListB
{
	border-bottom: 1.3vh solid black;
	border-left: 0.3vw solid black;
}
.playerListCorp
{

	width: 100%;
	height: 92.4%;
	background: linear-gradient(#383838 50%, #4b4b4b 50%);
	background-size: 5vh 5vh;
	background-attachment: local, scroll;
	overflow: auto;
	border-bottom: 0.6vh solid black;

}

.musicTd
{
	color: #54C472;
	display: flex;
	width: 100%;
	height: 2.5vh;
}

.playListControl{
	display: flex;
	width: 100%;
	height: 4.3%;
	overflow: visible;
	

}

.controleA
{
	width: 35%;
	display: flex;
}

.retMus
{
	display: flex;
	overflow: visible;
	width: 95%;
    height: 95%;
    border: 0.4vh solid #000; 
    border-radius: 5vh / 5vh;
    background-color: #2f2f2f;
    
}

.avMus
{
	width: 49%;
	height: 100%;
	background-image:url("/img/audio/advence.png");
	background-size: 80% 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.avMus:hover
{
	opacity: 50%;
	background-size: 90% 90%;
	background-color: black;
}

.play
{
	position: sticky;
    border: 0.6vh solid #000; 
    height: 7vh;
    width: 12vh;
    margin-top: -15%;
    border-radius: 5vh / 5vh; 
    background-color: #2f2f2f;
    


}

.bPlay
{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url("/img/audio/pause.png");
  background-size: 50% 80%;
}
.bPlay:hover
{
	background-image:url("/img/audio/play.png");
	background-size: 50% 80%;
}

.bPause
{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url("/img/audio/play.png");
  background-size: 50% 80%;
}
.bPause:hover
{
	background-image:url("/img/audio/pause.png");
	background-size: 50% 80%;
}

.Love
{
	margin-top: 1%;
	width: 90%;
	height: 90%;
	background-position: center;
  	background-repeat: no-repeat;
	background-image:url("/img/audio/Coeur.png");
	background-size: 60% 90%;
}
.Love:hover
{
	width: 90%;
	height: 90%;
	background-position: center;
  	background-repeat: no-repeat;
	background-image:url("/img/audio/Coeur2.png");
	background-size: 60% 90%;
}

.styleAlea
{
	width: 90%;
	height: 90%;
	background-position: center;
  	background-repeat: no-repeat;
	background-image:url("/img/audio/Alea.png");
	background-size: 60% 90%;
}
.styleAlea:hover
{
	opacity: 60%;
	background-image:url("/img/audio/continue.png");
}

.styleBoucle
{
	width: 30%;
	height: 90%;
	background-position: center;
  	background-repeat: no-repeat;
	background-image:url("/img/audio/Boucle.png");
	background-size: 60% 90%;
}
.styleBoucle:hover
{
	opacity: 60%;
	background-image:url("/img/audio/continue.png");
}

.styleVolume
{
	width: 30%;
	height: 90%;
	background-position: center;
  	background-repeat: no-repeat;
	background-image:url("/img/audio/volumeOn.png");
	background-size: 60% 90%;
}

.styleBoxSlide
{
	margin-top: 2%;
	width: 70%;
}
.styleSlide
{
	background-color: green;
	width: 90%;
}
.styleVolume:hover
{
	opacity: 60%;
	background-image:url("/img/audio/volumeOff.png");
}

.SearchVideo
{	
	padding-left: 10%;
	margin: 2%;
	width: 70%;
	overflow: auto;
}

.SearchV
{
	border-radius: 2vh;
	width: 60%;
	height: 2vh;
	padding: 0vh;
	margin: 0vh;
	border: 0.9vh #54C472 solid;
	background-color:  #54C472;
	color: #54C472;
	margin-bottom: 2%;
	overflow: hidden;	

}
.searchBV
{

	width: 20px;

}
.SearchRV
{
	border-top-left-radius: 1vh;
	border-bottom-left-radius: 1vh;	
	border: none;
	text-align: center;
	width: 80%;
	height: 80%;
	background-color:  #3D3D3D;
	color: #54C472;

}

.SearchSV
{
	border: none;
	height: 100%;
	margin: 0vh;
	padding: 0vh;
	width: 19%;
	border-top-right-radius: 1vh;
	border-bottom-right-radius: 1vh;
	background-color: #54C472;
}

.SearchSV:hover
{
	background-color: green;
}

.caseBottom
{
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	border-collapse: collapse;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-right: auto;
	margin-left: auto;

	width: 200px;
	height: 275px;

		
	border: 4px black solid;
	background-color: #3D3D3D; 
	color: #54C472;
	font-style: bold;
}

.caseBottom:hover
{
	cursor: pointer;
	background-color: #1b1a1a69; 
}

.caseImg
{
	object-fit: cover ;
	width: 100%;
	height: 200px;
}

.borderBottom
{
	width: 18%;
	height: 100%;
	border-bottom: 4px black solid;

}
.whiteCase
{
	
	max-height: 200px;
	width: 200px;
	text-decoration: normal;
}

.whiteCase:hover
{
	text-decoration: underline;
}

.zoneListe
{
	overflow: auto;
	justify-content: left;
	width: 200vh;
	height: 100vh;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 15%;
}

.blockListeVideo
{
	align-items: left;
	width: 100vh;
	margin-bottom: 5%;
	border: 4px;
	margin-right: 7%;
	margin-top: 3%;
	padding: 5%;
	background-color: #3D3D3D;
	
}

.titleVideo
{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #272424ad;
	color: #54C472;
	font-size: 7vh;
	width: 95%;
}
.saisonVideo
{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #272424ad;
	color: #54C472;
	font-size: 5vh;
	width: 85%;
}
.listeEpisode
{
	margin-top: 1%;
	font-size: 4vh;
	color: #54C472;
}
.listeEpisode:hover
{
	color: green;
}

.video
{
	margin-top: -1%;
	height: 90%;
	width: 90%;
}
.pisteMargin
{
	margin-left: 10%;
}